
<!-- +nav('Project name', 'dropdown_menu')-->
<!--  +nav_item( 'index.html', 'active' ) Acasa-->
<!--  +nav_item( 'about.html' ) Dspre-->
<!--  +nav_item( 'contact.html' ) Contact-->
<!--  +nav_item_dropdown( '#' )( label='Proiecte')-->
<!--    +nav_item( '#' ) numele proiect 01-->
<!--    +nav_item( '#' ) numele proiect 01-->
<!--    +nav_item( '#' ) numele proiect 01-->
<!--      +nav_divider-->
<!--      +nav_header Nav header-->
<!--      +nav_item( '#' ) Separated link-->
<!--      +nav_item( '#' ) One more separated link-->